/* Base Styles */
html {
  box-sizing: border-box;
}
*,
* ::before * ::after {
  box-sizing: inherit;
}
:root {
  --accent: #4d5ae5;
  --links-color: #2e2f42;
  --text-color: #434455;
  --secondary-text-color: #fff;
  --subtitle-color: #2e2f42;
  --footer-text: #f4f4fd;
}

/* Body blok */
.body {
  font-family: Roboto, sans-serif;
  color: var(--text-color, #434455);

  background-color: #fff;
}
.link {
  text-decoration: none;
  color: #434455;
}
.list {
  list-style: none;
}

.section-title {
  color: var(--subtitle-color, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  font-style: normal;
}

/* Header Styles */
.header {
}
.header-nav {
}
.header-logo {
  color: var(--accent);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-color {
  color: var(--links-color, #2e2f42);
}
.header-list {
}

.header-item :hover,
.header-item :focus,
.header-contacts-item > a:hover,
.header-contacts-item > a:focus {
  color: var(--ocean, #404bbf);
}

.header-item {
}

.header-link {
  color: var(--links-color, #2e2f42);

  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.header-contacts-adress {
  font-style: normal;
}

.header-contacts-item {
}

.header-contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Main Block */

/* Hero section */
.hero-section {
  background-color: #2e2f42;
}

.hero-title {
  color: var(--secondary-text-color, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.hero-btn {
  color: var(--secondary-text-color, #fff);
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: var(--accent);
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* Strategy */
.strategy-section {
}
.strategy-title {
}
.strategy-list {
}
.strategy-item {
}
.strategy-subtitle {
  color: var(--subtitle-color, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.strategy-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Employment */
.employmant-section {
}
.employment-title {
  color: var(--subtitle-color, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.employment-list {
}
.employment-item {
}
.employment-img {
}

/* Team */
.team-section {
  background-color: #f4f4fd;
}

.team-name {
  color: var(--subtitle-color, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.team-list {
}

.team-item {
  background-color: #ffffff;
}

.team-desc {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.team-img {
}

/* footer */
.footer-blok {
  background-color: #2e2f42;
}

.footer-logo {
  color: var(--accent, #4d5ae5);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-logo .logo-color {
  color: var(--footer-text, #f4f4fd);
}

.footer-desc {
  color: var(--footer-text, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Portfolio */

/* Filt */
.filt-section {
}

.filt-header {
}

.filt-list {
}

.filt-item {
}

.filt-btn {
  color: var(--accent, #4d5ae5);
  text-align: center;
  background-color: var(--footer-text);
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.filt-btn:hover,
.filt-btn:focus {
  color: var(--white, #fff);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--ocean, #404bbf);
}

/* Galary */
.gallary-list {
}
.gallary-item {
}
.gallary-link {
}
.gallary-img {
}
.gallary-title {
  color: var(--subtitle-color, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.gallary-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
